@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.title{
    font-size: 4rem;
    font-weight:500;
    position: relative;
    
}


.title::after{
    content:'';
    width:100%;
    height:2px;
    background:black;
    opacity:.6;
    position:absolute;
    left:0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition:transform 450ms ease-in-out;
}

.title:hover::after{
    transform:scaleX(1)
}